@font-face {
    font-family: "nyala";
    src: url("../assets/nyala.ttf")
}

/* mobile resolution */
@media (max-width: 991.98px) {
    html {
        font-size: 3rem;
    }

    #navbar-top ul,
    #navbar-subtop {
        width: 100%;
        li {
            width: 100%;
        }
    }

    .main-content {
        margin-top: 3%;
    }

    .content-list {
        padding-left: 0.4rem;
        padding: 1.25rem 0.4rem 2.5rem 0.4rem;
    }
}

/* desktop resolution */
@media (min-width: 992px) {
    html {
        line-height: 2.4rem;
    }

    #navbar-top ul,
    #navbar-subtop ul {
        width: 100%;
        li {
            flex: 1;
        }
    }

    p {
        margin-bottom: 0;
    }

    .content-list {
        padding: 1.25rem 1.25rem 2.5rem 1.25rem;
    }
}

/* variables */
:root {
    --color: 255 0 0;

    --pink: 255 170 221;
    --lavender: 221 170 255;
    --blue: 189 214 255;
    --black: 32 32 32;
    --white: 223 223 223;

    --fontsize: 1vw;

    --bg-opac: 0.4;
}

.pink {
    --color: var(--pink)
}

.lavender {
    --color: var(--lavender)
}

.blue {
    --color: var(--blue)
}

/* site defaults */

body {
    background-color: #222428;
    font-family: "nyala";
}

h2 {
    font-size: 2rem;
}

ul {
    list-style-type: "–  ";
}

.xlg, h1 {
    font-size: clamp(1.75rem, calc(1.4rem + 1vw), 3rem);
}

.lg, button.accordion-button {
    font-size: clamp(1.35rem, calc(1.1rem + 0.6vw), 2rem);
}

.md {
    font-size: clamp(1rem, calc(0.9rem + 0.35vw), 1.5rem);
}

.sm {
    font-size: clamp(0.9rem, calc(0.8rem + 0.2vw), 1.2rem);
}

.title {
    text-align: center;
}

.main-content {
    padding-top: 1vw;
    color: #D0D0D0;
}

/* navbars for top and bottom of screen */

#navbar-top { 
    background-color: rgb(var(--pink) / 0.2);
    padding: 0.5rem 3%;
    border-bottom: 1px solid rgb(var(--pink));

    .navbar-brand {
        color: rgb(var(--pink));
        width: 60%;
    }
    
    .navbar-nav {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
        display: flex;
    }
}

#navbar-subtop { /* dnd pages */
    background-color: rgb(var(--lavender) / 0.2);
    padding: 0.5rem 3%;
    border-bottom: 1px solid rgb(var(--lavender));
    
    .navbar-brand {
        color: rgb(var(--lavender));
        width: 60%;
    }

    a.button {
        padding: 0;
    }
}

    .navbar-toggler-icon {
        filter: invert(1);
    }

#navbar-bottom { /* general footer bar */
    background-color: #FFAADD30;
    padding: 1vw 1vw;
    border-top: 1px solid #FFAADDFF;
}

/* general button */

a.button {
    margin: 0.1vw 0.6vw;
    padding: 0.3vw 0.6vw;
    cursor: pointer;

    background-color: rgb(var(--color) / var(--bg-opac));
    border: 1px solid rgb(var(--color));
    border-radius: 0.8rem;
    transition: 0.5s ease-in-out;

    color: rgb(var(--color));
    text-decoration: none;
    text-align: center;
}

a.button:hover {
    --bg-opac: 1;
    color: rgb(var(--black));
    transition: 0.2s ease-in-out;
}

.link {
    color: rgb(var(--color) / 0.7);
    font-size: 0.8vw;
    text-decoration: underline;
}

.link:hover {
    color: rgb(var(--color));
}

div.accordion {
    margin: 0.8vw auto 2vw auto;
    width: 97%;
}

button.accordion-button {
    background-color: transparent;
    border: none;
    transition: 0.5s ease-in-out;
    border-radius: 0.8rem;
    font-size: --fontsize;
    color: rgb(var(--color));
    text-decoration: none;
}

button.accordion-button:hover {
    background: rgb(var(--color));
    color: rgb(var(--black));
    transition: 0.2s ease-in-out;
}

.accordion-item { 
    --bs-accordion-bg: transparent;
    --bs-accordion-border-color: transparent;
    --bs-accordion-active-bg: rgb(var(--color));
    --bs-accordion-active-color: rgb(var(--black));
    background: rgb(var(--color) / 0.2);
    border: 1px solid rgb(var(--color));

    color: rgb(var(--white));
}

.accordion-item:first-of-type .accordion-button:first-of-type,
.accordion-item:first-of-type {
    border-top-right-radius: 0.8rem !important;
    border-top-left-radius: 0.8rem !important;

    border-bottom-right-radius: 0vw !important;
    border-bottom-left-radius: 0vw !important;
}

.accordion-item:last-of-type .accordion-button:last-of-type,
.accordion-item:last-of-type {
    border-top-right-radius: 0vw !important;
    border-top-left-radius: 0vw !important;

    border-bottom-right-radius: 0.8rem !important;
    border-bottom-left-radius: 0.8rem !important;
}

.accordion-item:not(:first-of-type):not(:last-of-type) .accordion-button {
    border-radius: 0;
}

.accordion-item:first-of-type:last-of-type .accordion-button,
.accordion-item:first-of-type:last-of-type {
    border-radius: 0.8rem !important;
}

.low-opac {
    --bg-opac: 0.25;
}

.content-list {
    background: rgb(var(--blue) / 0.2);
    border: 1px solid rgb(var(--blue));
    border-radius: 0.8rem;
    margin: 1vw 0 5vw 0;
}

/* spell slot table */
table.spells {
    border: 2px solid rgb(var(--blue));
    margin: 0.5vw 2vw;

    tr:nth-child(n+2) {
        border-top: 1px solid rgb(var(--blue));
    }

    td, th {
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: 0.9vw;
    }

    td:nth-child(n+2),
    th:nth-child(n+2) {
        border-left: 1px solid rgb(var(--blue));
        background-color: rgb(var(--blue) / 0.25);
        transition: 0.1s ease-in-out;
    }

    td:first-child,
    th:first-child {
        border-right: 2px solid rgb(var(--blue));
    }

    th:nth-child(11),
    td:nth-child(11) {
        border-left: 2px solid rgb(var(--blue));
        text-align: center;
    }

    tr.hover > td:not([rowspan])  {
        background-color: rgb(var(--blue) / 0.6);
        color: rgb(var(--black)) !important;
        transition: 0.1s ease-in-out;
    }

    td:first-child {
        width: 7vw;
        background-color: rgb(var(--blue) / 0.3);
        transition: 0.1s ease-in-out;
    }

    th {
        border-bottom: 2px solid rgb(var(--blue));
        background-color: rgb(var(--blue) / 0.4) !important;
    }

    td:nth-child(n+2):nth-child(-n+10),
    th:nth-child(n+2):nth-child(-n+10) {
        width: 5.7vw;
    }
}

table.spells.half {
    td:nth-child(n+7):nth-child(-n+10),
    th:nth-child(n+7):nth-child(-n+10) {
        background-color: rgb(var(--blue) / 0.1) !important;
    }

    tr.hover > td:nth-child(n+7):nth-child(-n+10) {
        background-color: rgb(var(--blue) / 0.3) !important;
    }
}

/* ability tables */
table.ability {
    width: 100%;
    border: 1px solid rgb(var(--blue));
    margin-top: 0.4vw;
    margin-bottom: 0.4vw;

    tr {
        border-top: 1px solid rgb(var(--blue));
    }

    td, th {
        padding-left: 0.4vw;
    }

    th {
        background-color: rgb(var(--blue) / 0.3);
    }

    td:not(:first-child),
    th:not(:first-child) {
        border-left: 1px solid rgb(var(--blue));
    }
}

/* damage colors */

.fire-dmg {color: #FF3300;}
.cold-dmg {color: #9BC2E6;}
.acid-dmg {color: #DDEE55;}
.poison-dmg {color: #22AA22;}
.lightning-dmg {color: #2222AA;}
.thunder-dmg {color: #FFD966;}
.necrotic-dmg {color: #AE6E52;}
.radiant-dmg {color: #FF9933;}
.psychic-dmg {color: #9777ff;}
.force-dmg {color: #FFAADD;}
.bludgeoning-dmg,
.piercing-dmg,
.slashing-dmg {color: #A0A0A0;}