@font-face {
    font-family: "nyala";
    src: url("../assets/nyala.ttf")
}

:root {
    --color: 255 0 0;

    --pink: 255 170 221;
    --lavender: 221 170 255;
    --blue: 170 221 255;
    --black: 32 32 32;
    --white: 223 223 223;

    --fontsize: 1vw;

    --bg-opac: 0.4;
}

body {
    background-color: #222428;
    font-family: "nyala";
}

h1 {
    font-size: 2.4vw;
}

h2 {
    font-size: 1.4vw;
}

ul {
    list-style-type: "–  ";
}

p {
    margin-bottom: 0;
}

p.lg, li.lg, button.accordion-button {
    font-size: 1vw;
}

p.md, li.md {
    font-size: 0.9vw;
    line-height: 1.35vw;
}

p.sm, li.sm {
    font-size: 0.8vw;
}

.title {
    text-align: center;
}


/* navbars for top and bottom of screen */

#navbar-top { 
    background-color: rgb(var(--pink) / 0.2);
    padding: 0vw 3vw;
    height: 4vw;
    border-bottom: 1px solid rgb(var(--pink));

    #logo {
        font-size: 2vw;
        text-decoration: none;
        color: rgb(var(--pink));
    }
}

#navbar-mt {
    background-color: rgb(var(--lavender) / 0.2);
    height: 2vw;
    border-bottom: 1px solid rgb(var(--lavender));
    margin-bottom: 2vw;
}

#navbar-dnd { /* dnd pages */
    background-color: rgb(var(--lavender) / 0.2);
    padding: 0 3vw;
    height: 2vw;
    border-bottom: 1px solid rgb(var(--lavender));
    

    #logo-dnd {
        font-size: 1.2vw;
        text-decoration: none;
        color: rgb(var(--lavender));
    }
}

#navbar-bottom { /* general footer bar */
    background-color: #FFAADD30;
    padding: 1vw 1vw;
    border-top: 1px solid #FFAADDFF;
}

.main-content {
    padding-top: 1vw;
    color: #D0D0D0;
}

a.button {
    margin: 0.1vw 0.6vw;
    padding: 0.3vw 0.6vw;
    cursor: pointer;

    background-color: rgb(var(--color) / var(--bg-opac));
    border: 1px solid rgb(var(--color));
    border-radius: 0.6vw;
    transition: 0.5s ease-in-out;

    font-size: var(--fontsize);
    color: rgb(var(--color));
    text-decoration: none;
}

a.button:hover {
    --bg-opac: 1;
    color: rgb(var(--black));
    transition: 0.2s ease-in-out;
}

.link {
    color: rgb(var(--color) / 0.7);
    font-size: 0.8vw;
    text-decoration: underline;
}

.link:hover {
    color: rgb(var(--color));
}

div.accordion {
    margin: 0.8vw auto 2vw auto;
    width: 97%;
}

button.accordion-button {
    background-color: transparent;
    border: none;
    transition: 0.5s ease-in-out;
    border-radius: 0.6vw;
    font-size: --fontsize;
    color: rgb(var(--color));
    text-decoration: none;
}

button.accordion-button:hover {
    background: rgb(var(--color));
    color: rgb(var(--black));
    transition: 0.2s ease-in-out;
}

.accordion-item { 
    --bs-accordion-bg: transparent;
    --bs-accordion-border-color: transparent;
    --bs-accordion-active-bg: rgb(var(--color));
    --bs-accordion-active-color: rgb(var(--black));
    background: rgb(var(--color) / 0.2);
    border: 1px solid rgb(var(--color));

    color: rgb(var(--white));
}

.accordion-item:first-of-type .accordion-button:first-of-type,
.accordion-item:first-of-type {
    border-top-right-radius: 0.6vw !important;
    border-top-left-radius: 0.6vw !important;

    border-bottom-right-radius: 0vw !important;
    border-bottom-left-radius: 0vw !important;
}

.accordion-item:last-of-type .accordion-button:last-of-type,
.accordion-item:last-of-type {
    border-top-right-radius: 0vw !important;
    border-top-left-radius: 0vw !important;

    border-bottom-right-radius: 0.6vw !important;
    border-bottom-left-radius: 0.6vw !important;
}

.accordion-item:not(:first-of-type):not(:last-of-type) .accordion-button {
    border-radius: 0;
}

.accordion-item:first-of-type:last-of-type .accordion-button,
.accordion-item:first-of-type:last-of-type {
    border-radius: 0.6vw !important;
}

.pink {
    --color: var(--pink)
}

.lavender {
    --color: var(--lavender)
}

.blue {
    --color: var(--blue)
}

.low-opac {
    --bg-opac: 0.25;
}

.content-list {
    background: rgb(var(--blue) / 0.2);
    border: 1px solid rgb(var(--blue));
    border-radius: 0.6vw;
    padding: 1vw 1vw 2vw 1vw;
    margin: 1vw 0 5vw 0;
}

/* spell slot table */
table.spells {
    border: 2px solid rgb(var(--blue));
    margin: 0.5vw 2vw;

    tr:nth-child(n+2) {
        border-top: 1px solid rgb(var(--blue));
    }

    td, th {
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: 0.9vw;
    }

    td:nth-child(n+2),
    th:nth-child(n+2) {
        border-left: 1px solid rgb(var(--blue));
        background-color: rgb(var(--blue) / 0.25);
        transition: 0.1s ease-in-out;
    }

    td:first-child,
    th:first-child {
        border-right: 2px solid rgb(var(--blue));
    }

    th:nth-child(11),
    td:nth-child(11) {
        border-left: 2px solid rgb(var(--blue));
        text-align: center;
    }

    tr.hover > td:not([rowspan])  {
        background-color: rgb(var(--blue) / 0.6);
        color: rgb(var(--black)) !important;
        transition: 0.1s ease-in-out;
    }

    td:first-child {
        width: 7vw;
        background-color: rgb(var(--blue) / 0.3);
        transition: 0.1s ease-in-out;
    }

    th {
        border-bottom: 2px solid rgb(var(--blue));
        background-color: rgb(var(--blue) / 0.4) !important;
    }

    td:nth-child(n+2):nth-child(-n+10),
    th:nth-child(n+2):nth-child(-n+10) {
        width: 5.7vw;
    }
}

table.spells.half {
    td:nth-child(n+7):nth-child(-n+10),
    th:nth-child(n+7):nth-child(-n+10) {
        background-color: rgb(var(--blue) / 0.1) !important;
    }

    tr.hover > td:nth-child(n+7):nth-child(-n+10) {
        background-color: rgb(var(--blue) / 0.3) !important;
    }
}

/* ability tables */
table.ability {
    width: 100%;
    border: 1px solid rgb(var(--blue));
    margin-top: 0.4vw;
    margin-bottom: 0.4vw;

    tr {
        border-top: 1px solid rgb(var(--blue));
    }

    td, th {
        padding-left: 0.4vw;
    }

    th {
        background-color: rgb(var(--blue) / 0.3);
    }

    td:not(:first-child),
    th:not(:first-child) {
        border-left: 1px solid rgb(var(--blue));
    }
}

/* damage colors */

.fire-dmg {color: #FF3300;}
.cold-dmg {color: #9BC2E6;}
.acid-dmg {color: #DDEE55;}
.poison-dmg {color: #22AA22;}
.lightning-dmg {color: #2222AA;}
.thunder-dmg {color: #FFD966;}
.necrotic-dmg {color: #AE6E52;}
.radiant-dmg {color: #FF9933;}
.psychic-dmg {color: #9777ff;}
.force-dmg {color: #FFAADD;}
.bludgeoning-dmg,
.piercing-dmg,
.slashing-dmg {color: #A0A0A0;}