RewriteEngine On

RewriteCond %{THE_REQUEST} ^class=([a-z-]+)$
RewriteRule ^dnd/class\.php$ /dnd/class/%1? [R=302,L]

RewriteRule ^dnd/class/([a-z-]+)/?$ dnd/class.php?class=$1 [L]

ErrorDocument 404 /404.php