RewriteEngine On

# class.php rewrite
RewriteRule ^dnd/class/([a-z-]+)/?$ dnd/class.php?class=$1 [L]

# subclass.php rewrite
RewriteRule ^dnd/subclass/([a-z-]+)/?$ dnd/subclass.php?subclass=$1 [L]

ErrorDocument 404 /404.php