RewriteEngine On

# index-dnd.php rewrite
RewriteRule ^dnd/?$ index-dnd.php/ [L]
RewriteRule ^dnd/classes/?$ dnd/classes.php/ [L]
RewriteRule ^dnd/subclasses?$ dnd/subclasses.php/ [L]

RewriteRule ^dnd/spells?$ dnd/spells.php/ [L]
RewriteRule ^dnd/races?$ dnd/races.php/ [L]
RewriteRule ^dnd/bestiary?$ dnd/bestiary.php/ [L]

# subclass.php rewrite
RewriteRule ^dnd/([a-z-]+)/([a-z-]+)/?$ dnd/subclass.php?class=$1&subclass=$2 [L]

# class.php rewrite
RewriteRule ^dnd/([a-z-]+)/?$ dnd/class.php?class=$1 [L]

ErrorDocument 404 /404.php